<div>
  <h2>Square</h2>
  <div class="input">
    <div><span>Length</span><input id="length" type="number" name="length" /></div>
    <div><span>Width</span><input id="width" type="number" name="width" /></div>
    <div><span>Area</span><input id="areas" type="number" readonly /></div>
    <div><button id="calculateSquare">Calculate</button></div>
  </div>
</div>

<script>
  document.getElementById("calculateSquare").addEventListener("click", () => {
    let length = parseFloat(document.getElementById("length").value);
    let width = parseFloat(document.getElementById("width").value);
    let area = length * width;
    document.getElementById("areas").value = area;
  });
</script>
